footer
  div
    h3 MIKHUNA
    p  Copyright Mikhunabamba
    - var redes = ["facebook", "twitter", "youtube", "pinterest","tumblr","google-plus"]
    ul#iconos
      each red in redes
        li
          i(class="fa fa-#{red}-square")