header
  img.logo(src="images/logo.png")
  nav
    ul
      each val in links
        li
          a= val
  select
    each val in links
      option= val
  h1 ENCUENTRA TODA LA INFORMACIÓN DE LOS RESTAURANTES DE TU CIUDAD
  h2 Y ÚSALA PARA PEDIR DELIVERY, RESERVAR, PEDIR PARA RECOJO O IR AL LOCAL