doctype html
html(lang="en")
  head
    title Grunt Project Ready
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    link(rel="stylesheet" href="bower_components/normalize.css/normalize.css")
    link(rel="stylesheet" href="css/style.css")
    script(type='text/javascript' src="js/script.min.js")
    script(src="http://localhost:35729/livereload.js")
  body
    header
      img.logo(src="images/logo.png")
      nav
        ul
          each val in ["Inicio", "Blog", "Contactanos", "Descargar app","Donaciones"]
            li
              a= val
      h1 ENCUENTRA TODA LA INFORMACIÓN DE LOS RESTAURANTES DE TU CIUDAD
      h2 Y ÚSALA PARA PEDIR DELIVERY, RESERVAR, PEDIR PARA RECOJO O IR AL LOCAL.
    #search
      div
        select
          option Piura
        select
          option Parrillas
        input(placeholder="Buscar por nombre de restaurante")
        button Buscar
    section#restaurantes
      h2 RESTAURANTES POPULARES
      - for (var x = 0; x < 4; x++)
        div
          img(src="images/rest1.png")
          h3 Arequipa - La Salchipapas
          span.minimo MÍNIMO S/. 0
          span.tenvio Tiempo Envío: 15-20 min.
          button VER INFO