@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";

$plomo : #8A8A8A;
$naranja : #FB5E00;
$azul: #4DA1E9;

$mobile: new-breakpoint(max-width 500px);

body{
	background: url(../images/bg.jpg) no-repeat #F2F2F2;
  font-family: 'Ubuntu', sans-serif;
}

header{
  @include outer-container;
  .logo{
    @include span-columns(3);
  }
  nav{
    @include span-columns(9);
    @include omega();
    ul{
      li{
        display: inline;
        margin: 0 10px;
        a{
          color: #fff;
          cursor: pointer;
          text-transform: uppercase;
          text-shadow: 1px 1px 1px #000;
        }
      }
    }
  }
  h1,h2{
    text-align: center;
    color: #fff;
    @include fill-parent();
  }
  h1{
    @include row(table);
    font-size: 24px;
  }
  h2{
    font-size: 18px;   
  }
}

#search{
  padding: 30px 0;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  > div{
    @include outer-container;
    @include media($mobile){padding:20px;}
    select, button{
      @include span-columns(2);
    }
    input{
      @include span-columns(5.5);
    }
    button{
      @include button($naranja);
    }
    select, input, button{
      @include media($mobile){
        @include row(table);
        margin: 20px 0;
      }
    }
  }
}

#restaurantes{
  @include outer-container;
  h2{
    color: $plomo;
    font-size: 1.2em;
  }
  > div{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    @include span-columns(3);
    @include omega(4n);
    @include pad();
    @include media($mobile) {
      @include row(table);
      padding: 30px;
    }
    img{
      display: block;
      margin: 0 auto;
      width:50%;
    }
    h3{
      text-align: center;
    }
    span{
      text-align: center;
      display: block;
      &.minimo{
        color: $naranja;
        font-size: 1.2em;
        font-weight: 700;
      }
      &.tenvio{ 
        color: $plomo;
        font-size: 0.8em;
      }
    }
    button{
      @include button($naranja);
      @include fill-parent();
      margin-top: 12px;
      &:hover{
        @include button($azul);
      }
    }
  }
}